<h2>Know of a pet needing a home?</h2>
<a [routerLink] ="['/']" >Home</a>

<form (submit) ="submitNewWhat()">
    Pet Name: <input type="text" name="name"[(ngModel)]="new_what.name"
    required
    minlength="3"
    #name="ngModel"/>
    <span *ngIf="name.errors && !name.pristine">Name is too short!</span>

    Pet Type: <input type="text" name="type"[(ngModel)]="new_what.type"
    required
    minlength="3"
    #type="ngModel">
    <span *ngIf="type.errors && !type.pristine">Type is too short!</span>

    Description:<input type="text" name="description"[(ngModel)]="new_what.description"
    required
    minlength="3"
    #description="ngModel">
    <span *ngIf="description.errors && !description.pristine">Description is too short!</span>

    SKILLS:
    Skill 1:<input type="text" name="skill1"[(ngModel)]="new_what.skill1">
    Skill 2:<input type="text" name="skill2"[(ngModel)]="new_what.skill2">
    Skill 3:<input type="text" name="skill3"[(ngModel)]="new_what.skill3">
    
    <button *ngIf= "!name.valid || !type.valid || !description.valid" disabled="disabled">Add pet</button>
    <button *ngIf=" name.valid && type.valid && description.valid " type="submit" >Add pet</button>

</form>